@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Roboto:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  max-width: 500px;
  padding: 1.5rem;
  margin: auto;
  background-color: aquamarine;
}

body {
  /* font-family: "Poppins", sans-serif; */
  font-family: "Roboto", sans-serif;
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.ttasks {
  margin-top: 0.7rem;
  background-color: rgb(108, 192, 165);
  border-radius: 4px;
  box-shadow: 3px 4px 9px rgb(115, 199, 160);
  padding: 10px;
  cursor: pointer;
}

h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  margin-left: 0.5rem;
}

.empty-message {
  color: red;
  text-align: center;
  background-color: rgb(242, 246, 251);
  border-radius: 5px;
  padding: 20px;
  font-weight: bold;
  box-shadow: 3px 4px 8px rgb(44, 38, 38);
  margin-top: 2rem;
}

.reminders {
  background-color: green;
  width: 4px;
  height: 40px;
  position: absolute;
  box-shadow: 3px 5px 8px rgb(219, 219, 219);
}

.task-day {
  margin-left: 0.5rem;
}

.task-days {
  margin-left: 0.3rem;
}

.dash {
  margin-left: 0.3rem;
  background-color: blueviolet;
  width: 4px;
  height: 20px;
}

.data-time {
  display: flex;
  align-items: center;
}

footer {
  text-align: center;
  padding: 2rem 0;
}

footer p {
  font-size: 0.7rem;
  margin-top: 0.3rem;
}
